<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p>
    "Fizz buzz" est un jeu de mots que nous utiliserons pour enseigner la division aux robots. Apprenons l'informatique.
</p>

<p>
    Vous devez écrire une fonction qui recevra un nombre entier positif et renverra:<br>
   <strong>"Fizz Buzz"</strong> si le nombre est divisible par 3 et par 5;<br>
   <strong>"Fizz"</strong> si le nombre est divisible par 3;<br>
   <strong>"Buzz"</strong> si le nombre est divisible par 5;<br>
   <strong>Le nombre</strong> sous forme de chaîne de caractères pour les autres cas.<br>
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}fizz-buzz2.svg" alt="example" style="max-height: 400px"/>
</p>
<p>
   <strong>Entrée:</strong> {% if is_js %}Un <span>nombre</span> <span>(number)</span>{% else %}Un <span>entier</span> <span>(integer)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> Une <span>chaîne de caractères</span> <span>(string)</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Comment l'utiliser:</strong>
    Vous apprendrez ici à écrire la fonction la plus simple et à travailler avec des instructions if-else.
</p>


<p>
   <strong>Condition préalable:</strong>
    0 &lt; nombre &le; 1000
</p>
