<img class="for_info_only half" title="juggler" src="{{MEDIA}}calculator.png" alt="juggler" style="float: left" />

<p>
    "Fizz buzz" is a word game we will use to teach the robots about division. Let's learn computers.
</p>

<p>
    You should write a function that will receive a positive integer and return:<br>
    <strong>"Fizz Buzz"</strong> if the number is divisible by 3 and by 5;<br>
    <strong>"Fizz"</strong> if the number is divisible by 3;<br>
    <strong>"Buzz"</strong> if the number is divisible by 5; <br>
    <strong>The number</strong> as a string for other cases.<br>
</p>

<p>
    <strong>Input:</strong> An {% if is_js %}integer <span translate="no">(number)</span>{% else %}integer <span translate="no">(int)</span>{% endif %}.
</p>

<p>
    <strong>Output:</strong> A {% if is_js %}string <span translate="no">(string)</span>{% else %}string <span translate="no">(str)</span>{% endif %}.
</p>


<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>How it is used: </strong>
    Here you can learn how to write the simplest function and work with if-else statements.
</p>


<p>
    <strong>Precondition:</strong>
    0 &lt; number &le; 1000
</p>
