<img class="for_info_only half" title="juggler" src="{{MEDIA}}calculator.png" alt="juggler" style="float: left" />

<p>
    "Fizz buzz" to gra słowna, której użyjemy do nauczenia robotów dzielenia. Uczmy się komputerów.
</p>

<p>
    Proszę napisać funkcję, która otrzyma dodatnią liczbę całkowitą i zwróci:<br>
    "<strong>Fizz Buzz</strong>", jeśli liczba jest podzielna przez 3 i przez 5;<br>
    "<strong>Fizz</strong>" jeśli liczba jest podzielna przez 3;<br>
    "<strong>Buzz</strong>", jeśli liczba jest podzielna przez 5; <br>
   <strong>Liczba</strong> jako ciąg znaków dla innych przypadków.<br>
</p>

<p>
   <strong>Dane wejściowe:</strong>  {% if is_js %}Liczba całkowita <span>(number)</span> {% else %} Liczba całkowita <span>(int)</span>{% endif %}.
</p>

<p>
   <strong>Dane wyjściowe:</strong> A {% if is_js %}string{% else %}string <span>(str)</span>{% endif %}.
</p>


<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Jak jest używany:</strong>
    Tutaj dowiedzą się Państwo, jak napisać najprostszą funkcję i pracować z instrukcjami if-else.
</p>


<p>
   <strong>Warunek wstępny:</strong>
    0 &lt; liczba &le; 1000
</p>
